<!DOCTYPE html>
<html>
    <head>
    <title>My Blog</title>
    </head>
<body>
    <header>
        <h1><a href="/">Django Girls Blog</a></h1>
    </header>
    <article>
        <time>published: 20.10.2025 23:08</time>
        <h2><a href="#">My first blog post</a></h2>
        <p>This is my first blog post.</p>
    </article>
    <article>
        <time>published: 20.10.2025 23:09</time>
        <h2><a href="#">My second blog post</a></h2>
        <p>This is my second blog post.</p>
    </article>
</body>
</html>